body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,#a1c4fd  0%, #c2e9fb 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
